asn1crypto==0.24.0
beautifulsoup4==4.7.1
bothub==0.1.30
bothub-cli==0.1.20
bs4==0.0.1
cachetools==3.1.1
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
Click==7.0
cryptography==2.6.1
cycler==0.10.0
dialogflow==0.6.0
dj-database-url==0.5.0
Django==2.2.2
django-cors-headers==3.0.2
django-webpack-loader==0.6.0
djangorestframework==3.9.4
djangorestframework-jwt==1.11.0
future==0.17.1
gevent==1.4.0
google-api-core==1.11.1
google-auth==1.6.3
googleapis-common-protos==1.6.0
greenlet==0.4.15
grpcio==1.21.1
gunicorn==19.9.0
idna==2.8
kiwisolver==1.1.0
matplotlib==3.1.0
numpy==1.16.3
pathspec==0.5.9
Pillow==6.0.0
prompt-toolkit==2.0.9
protobuf==3.8.0
psycopg2-binary==2.8.3
pyaml==19.4.1
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycparser==2.19
pygame==1.9.6
PyJWT==1.7.1
pyparsing==2.4.0
pyTelegramBotAPI==3.6.6
python-dateutil==2.8.0
python-telegram-bot==11.1.0
pytz==2019.1
PyYAML==5.1
pyzmq==18.0.1
requests==2.21.0
rsa==4.0
ruamel.yaml==0.15.96
selenium==3.141.0
six==1.12.0
soupsieve==1.9.1
sqlparse==0.3.0
telegram==0.0.1
terminaltables==3.1.0
urllib3==1.24.2
wcwidth==0.1.7
websocket==0.2.1
websockets==7.0
whitenoise==4.1.2
zmq==0.0.0
psycopg2==2.8.3
